%cta-ne {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(colors(white), 0.8);
    border: 1px solid colors(gray);
}

.products { // Products list page

    &__title {
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        justify-content: stretch;
    }

    &__item {
        flex: 0 1 25%;
        width: 25%;

        &-link {
            position: relative;
            display: block;

            &:hover {
                .products__item-image {
                    opacity: 1;
                    transform: translate(-50%, -50%) scale(1.1);
                }
                .products__item-name {
                    color: colors(blue);

                    &:before {
                        right: 30px;
                    }
                }
            }

            &:before {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                left: 0;
                height: 6rem;
                background-image: linear-gradient(to top, colors(white) 0%, colors(white) 25%, rgba(colors(white), 0) 100%);
                z-index: 1;
            }
        }

        &-visual {
            position: relative;
            padding-top: percentage(3/4);
            overflow: hidden;
            background-color: colors(white);
        }

        &-image {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1);
            object-fit: cover;
            opacity: 0.5;
            transition: opacity $speed ease, transform $speed ease;
        }

        &-name {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 100%;
            padding: 10px 30px;
            transform: translate(-50%, 50%);
            margin: 0;
            font-size: 2rem;
            font-style: italic;
            color: colors(blue-dark);
            text-align: center;
            transition: color $speed ease;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            z-index: 1;

            &:before {
                content: '';
                position: absolute;
                top: 3.4rem;
                left: 30px;
                right: calc(100% - 30px);
                height: 2px;
                transition: right $speed ease;
                background-color: colors(blue);
            }
        }
    }
}

.product { // Product detail page
    .editable &__name,
    .editable &__description {
        &:hover {
            position: relative;

            &:before {
                @extend %cta-ne;
                content: 'click to edit...';
                display: inline-block;
                padding: 1em 2em;
                font-size: 1rem;
                font-style: italic;
                font-weight: bold;
                color: colors(blue);
            }
        }
    }

    .editable &__name,
    .editable &__description {
        &.js-edit-mode {
            &:before {
                content: none;
            }
            .product__value {
                display: none;
            }
            .product__input {
                display: block;
            }
        }

        &.dirty {
            .cta--validate {
                display: block;
            }
        }

        .cta--validate {
            @extend %cta-ne;
            display: none;
        }
    }

    &__value {
        display: block;
        width: 100%;
    }
    &__input {
        display: none;
        width: 100%;
    }

    &__name {
        margin-bottom: 50px;
    }

    &__description {
        margin-bottom: 30px;
    }

    &__images {
        &-list {
            display: flex;
            justify-content: center;
        }

        &-item {
            position: relative;
            flex: 0 1 25%;

            &:hover {
                .product__image-ctas {
                    visibility: visible;
                    opacity: 1;
                    transition: opacity $speed ease, visibility 0s ease 0s;
                }
            }
        }
    }

    &__image {
        &-ctas {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            visibility: hidden;
            opacity: 0;
            transition: opacity $speed ease, visibility 0s ease $speed;

            .cta--delete {
                @extend %cta-ne;
            }

            .product__input--image {
                position: absolute;
                top: 36px;
                bottom: 0;
                left: 0;
                width: 100%;
                background-color: rgba(colors(white), 0.8);
            }
        }
    }

    .cta--add {
        margin: 30px 0;
    }

    .spinner {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        transform: translate(-50%, -50%);
    }

    &.pending {
        .spinner {
            display: block;
        }
    }
}